.label-input-container {
   margin-left: 10%;
   margin-top: 5%;
   display: flex;
   flex-direction: column;
   width: 40%;
   font-size: 1.5em;
   position: absolute;
   .input-container {
      position: relative;
      .label-up {
         position: absolute;
         bottom: 3.7em;
         font-size: 0.75em;
         z-index: 1;
         transition: color 1s, font-size 1s, bottom 1s;

      }

      .label-down {

         position: absolute;
         font-size: 1em;
         bottom: 1em;
         z-index: 1;
         color: lighten(black, 70%);
         transition: color 1s, font-size 1s, bottom 1s;
      }
      input {
         font-size: 1em;
         height: 1.5em;
      }
   }
}


.space {
   margin-bottom: 1em;
}
