.label-input-container {
   margin-left: 10%;
   margin-top: 5%;
   display: flex;
   flex-direction: column;
   width: 40%;
   font-size: 1.5em;
   position: absolute;
   .label {
      z-index: 1;
   }
   input {
      font-size: 1em;
      height: 1.5em;
      position: relative;
   }
}

.focus {
   margin-bottom: -1.5em;
   z-index: 1;
   color: lighten(black, 50%);

}

.space {
   margin-bottom: 1em;
}
